<div class="app-wrapper default-theme">
  <div class="background">
    <div class="gradient">
      <div class="container">
        <img
          class="row justify-content-center billboard"
          src="../assets/billboard.jpg"
          alt="Ski Free UP - Free Lift Tickets for Select Ski Resorts in Michigan's UP"
        />
        <h1>Welcome to Ski Free UP</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <p style="text-align: center">
      Select ski resorts in Michigan’s Upper Peninsula are providing free and discounted lift tickets to families and
      individuals throughout the Midwest. Skiing is a healthy, fun winter activity which brings family and friends
      together. Leading physicians encourage you to get outdoors during COVID-19. Skiing is one winter activity that
      provides a safe and healthy environment while naturally encouraging social distancing.
    </p>
    <ng-container *ngIf="isPromotionRunning">
      <p style="font-weight: bold">
        Please fill out our short survey below and we will provide you with free or discounted lift tickets to select
        Upper Peninsula ski resorts this winter.
      </p>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <app-ski-form></app-ski-form>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isPromotionRunning">
      <div class="row justify-content-center">
        <div class="col-md-8" style="text-align: center">
          This promotion is done for the year. Check back again next ski season!
        </div>
      </div>
    </ng-container>
  </div>
</div>
