<div class="app-wrapper default-theme">
  <div class="background">
    <div class="gradient">
      <div class="container">
        <img class="row justify-content-center billboard" src="../assets/billboard.jpg" />
        <h1>Welcome to Ski Free UP</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <p style="text-align: center">
      We are promoting select ski resorts in Michigan’s Upper Peninsula by providing free and discounted lift tickets to
      families and individuals throughout the Midwest. Skiing is a fun winter activity which brings family and friends
      together while participating in a healthy sport the entire family can enjoy. Leading physicians encourage you to
      get outdoors during COVID-19 and few winter activities provide such a safe and healthy activity while naturally
      encouraging social distancing.
    </p>
    <p style="font-weight: bold">
      Please fill out our short survey below and we will provide you with free or discounted lift tickets to select
      Upper Peninsula ski resorts this winter.
    </p>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <app-ski-form></app-ski-form>
      </div>
    </div>
  </div>
</div>
